/* リセットCSS */
body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  display: inline-block;
  width: auto; /* 幅を自動調整 */
  min-width: 90px;
}
nav li:not(:last-child) {
  border-right: 2px solid #514b4b;
}
nav a {
  text-decoration: none;
  color: #333;
}
nav a.current {
  color: #00B0F0;
  border-bottom: 2px solid #00B0F0;
}
nav a:hover {
  color: #F7CB4D;
  border-bottom: 2px solid #F7CB4D;
}

.container {
  max-width: 1200px; /* ナビゲーションバーの最大幅 */
  margin: 0 auto; /* 水平方向に中央揃え */
  display: flex; /* フレックスボックスを使用してアイテムを配置 */
  justify-content: space-between; /* ロゴとメニューを端から端に配置 */
  align-items: center; /* アイテムを垂直方向に中央揃え */
}

.logo img {
  max-width: 150px; /* ロゴ画像の最大幅 */
  height: auto; /* アスペクト比を維持 */
  margin-left: 20px; /* ロゴとメニューの間に余白を追加 */
}

.menu {
  list-style-type: none; /* 箇条書きスタイルを削除 */
  display: flex; /* フレックスボックスを使用してメニューアイテムを配置 */
}

.menu li {
  margin: 0 10px; /* メニューアイテム間の横マージン */
}

.menu li a {
  color: #000000; /* テキストの色 */
  text-decoration: none; /* 下線を削除 */
  font-size: 20px; /* フォントサイズ */
}
